.drawer-button {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  align-items: center;
}

.drawer-header {
  display: flex;
  background-color: #403e3d;
  height: 55px;
  align-items: center;
  padding-left: 10px;
}

.drawer-avatar {
  height: 36px;
  width: 36px;
}

.drawer-header-text {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-left: 15px;
}

.drawer-section-title {
  font-size: 19px;
  margin: 15px 0 8px 15px;
  font-weight: 700;
}

.drawer-link {
  text-decoration: none;
  color: #404040;
  font-size: 17px;
}

.drawer-sign-btn {
  color: #404040;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  padding: 0px 2px;
}

@media (max-width: 480px) {
  .drawer-header-text {
    font-size: 18px;
  }

  .drawer-section-title {
    font-size: 17px;
  }

  .drawer-link {
    font-size: 16px;
  }

  .drawer-sign-btn {
    font-size: 16px;
  }
}
