.login-main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f6fa;
  padding: 0px 20px;
}

.login-container {
  display: flex;
  width: 100%;
  max-width: 950px;
  min-height: 500px;
  background-color: #ccd8e3;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.login-left {
  flex: 1.5;
  background-color: #ccd8e3;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 28px;
  font-weight: 600;
  color: #0d273e;
  font-family: "Verdana", sans-serif;
  text-align: center;
  margin-bottom: 30px;
  cursor: default;
}

.input-group {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
  max-width: 320px;
}

.input-field {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  padding-right: 45px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Verdana", sans-serif;
}

.input-field:focus {
  background-color: #a9c8e6;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.forgot-password {
  text-align: end;
  width: 100%;
  max-width: 320px;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #0d273e;
  font-size: 14px;
  font-family: "Verdana", sans-serif;
}

.login-button {
  margin-top: 30px;
  text-align: center;
}

.login-button-inner {
  background-color: #3d4348;
  color: white;
  padding: 12px 45px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.login-button-inner:hover {
  background-color: #354553;
}

.login-button-inner:active {
  transform: scale(0.95);
  box-shadow: none;
}

.login-right {
  flex: 1;
  background-color: #808c96;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-here-text {
  font-size: 24px;
  font-weight: 600;
  color: #0d273e;
  margin-bottom: 20px;
  font-family: "Verdana", sans-serif;
}

.register-button {
  background-color: white;
  color: black;
  padding: 12px 32px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.register-button:hover {
  background-color: #e2e8f0;
}

/* Responsive */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    width: 100%;
  }

  .login-left,
  .login-right {
    padding: 30px 20px;
  }

  .login-title,
  .new-here-text {
    font-size: 24px;
  }

  .input-group {
    max-width: 280px;
  }

  .login-button-inner,
  .register-button {
    padding: 10px 30px;
    font-size: 15px;
  }
}
