.registration-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  background-color: #f2f6fa;
}

.registration-container {
  display: flex;
  background-color: #ccd8e3;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 950px;
  min-height: 500px;
}

.registration-left {
  flex: 1;
  background-color: #808c96;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-left-title {
  font-size: 28px;
  font-weight: 600;
  color: #0d273e;
  margin-bottom: 25px;
  font-family: "Verdana", sans-serif;
}

.registration-login-link {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 12px 32px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s;
}

.registration-login-link:hover {
  background-color: #e2e8f0;
}

.registration-right {
  flex: 1.5;
  background-color: #ccd8e3;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-title {
  font-size: 28px;
  font-weight: 600;
  color: #0d273e;
  margin-bottom: 25px;
  font-family: "Verdana", sans-serif;
}

.registration-form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  max-width: 320px;
}

.registration-input {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  padding-right: 45px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Verdana", sans-serif;
}

.registration-input:focus {
  background-color: #a9c8e6;
}

.registration-eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.registration-submit-btn {
  margin-top: 25px;
  background-color: #3d4348;
  color: white;
  padding: 12px 45px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  transition: all 0.3s;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.registration-submit-btn:hover {
  background-color: #354553;
}

.registration-submit-btn:active {
  transform: scale(0.95);
  box-shadow: none;
}

/* Responsive */
@media (max-width: 768px) {
  .registration-wrapper {
    height: 80vh;
    padding: 20px;
  }

  .registration-container {
    flex-direction: column;
    width: 100%;
  }

  .registration-left,
  .registration-right {
    padding: 30px 20px;
  }

  .registration-left-title,
  .registration-title {
    font-size: 24px;
  }

  .registration-login-link {
    padding: 10px 25px;
    font-size: 15px;
  }

  .registration-form-group {
    max-width: 280px;
  }
}
