.registrationMainDiv {
  height: 100vh;
  align-content: center;
  padding-top: 80px;
}

.registrationContainer {
  display: flex;
  justify-content: center;
}

.registrationLeftDiv {
  background-color: #808c96;
  align-content: center;
  padding: 0 40px;
}

.welcomeTxt {
  font-size: 26px;
  font-weight: 500;
  color: #0d273e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  cursor: default;
}

.loginBtnDiv {
  text-align: center;
}

.loginBtn {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 40px;
  border-radius: 22px;
}

.registrationRightDiv {
  background-color: #ccd8e3;
  padding: 60px 80px;
}

.createTxt {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  color: #0d273ec2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  cursor: default;
}

.registrationInputFieldDiv {
  text-align: center;
  position: relative;
  width: 100%;
}

.registrationInputField {
  border: none;
  outline: none;
  border-radius: 15px;
  padding-left: 15px;
  margin: 3px 0;
  height: 35px;
  width: 300px;

  &:focus-visible {
    background-color: #a9c8e6;
  }
}

.registrationeyeIcon {
  position: absolute;
  top: 50%;
  left: 260px;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.registrationBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.registrationBtn {
  background-color: #3d4348;
  color: white;
  padding: 10px 50px;
  border-radius: 22px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  &:active {
    box-shadow: none;
    transform: scale(0.9);
  }

  &:hover {
    background-color: #354553;
  }
}

@media (max-width: 737px) {
  .registrationMainDiv {
    padding-top: 0;
  }

  .registrationRightDiv {
    padding: 30px 20px;
  }

  .createTxt {
    font-size: 18px;
  }

  .registrationInputField {
    height: 35px;
    width: 200px;
  }

  .registrationeyeIcon {
    left: 160px;
  }

  .registrationLeftDiv {
    padding: 0 10px;
  }

  .welcomeTxt {
    font-size: 18px;
  }

  .loginBtn {
    padding: 10px;
    font-size: 16px;
  }
}
