.first-header {
  height: 60px;
  background-color: #403e3d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  padding: 0 6px;
  border-radius: 5px;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s;
}

.header-link:hover {
  border: 1px solid white;
}

.header-logo {
  height: 44px;
  width: auto;
}

.header-address {
  display: flex;
  color: white;
  align-items: center;
  gap: 4px;
}

.header-address-icon {
  display: flex;
  align-items: center;
}

.header-signin {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
}

.header-cart {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
}

.header-cart-text {
  margin-left: 8px;
}

@media (max-width: 600px) {
  .header-logo {
    height: 35px;
  }

  .header-address {
    font-size: 14px;
  }

  .header-signin,
  .header-cart {
    font-size: 16px;
  }

  .header-cart-text {
    margin-left: 4px;
  }
}

@media (max-width: 450px) {
  .header-address-icon {
    display: none;
  }

  .header-cart-text {
    display: none;
  }
}
