.productListMainDiv {
  background-color: white;
  padding: 110px 100px 30px;
}

.productListDiv {
  display: flex;
  margin-bottom: 10px;
}

.productListImgDiv {
  border: 1px solid #f0f0f0;
  width: 300px;
  display: flex;
  justify-content: center;
}

.productListImg {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.productListDetailDiv {
  border: 1px solid #f0f0f0;
  width: 100%;
  padding-left: 30px;
  background-color: white;
  align-content: center;
}

.productListLongTitle {
  font-size: 24px;
  font-weight: 400;
}

.productListPriceDiv {
  margin: 10px 0 20px;
}

.rupeeSymbol {
  font-size: 16px;
}

.productListCost {
  font-size: 28px;
  font-weight: 500;
  color: green;
}

.productListMrp {
  font-size: 14px;
  font-weight: 400;
  color: #b12704;
  margin: 0 10px;
}

.productListFreeDelivery {
  margin-top: 10px;
}

.productListFreeTxt {
  color: green;
  font-weight: 500;
}

.productListPaginationStack {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 963px) {
  .productListMainDiv {
    padding: 110px 50px 30px;
  }
}

@media (max-width: 843px) {
  .productListMainDiv {
    padding: 110px 20px 30px;
  }
}

@media (max-width: 779px) {
  .productListImgDiv {
    width: 150px;
  }

  .productListImg {
    height: 120px;
    width: 120px;
  }

  .productListDetailDiv {
    padding-left: 15px;
  }

  .productListLongTitle {
    font-size: 20px;
  }

  .productListPriceDiv {
    margin: 0;
  }

  .productListCost {
    font-size: 24px;
  }

  .productListFreeDelivery {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .productListLongTitle {
    font-size: 16px;
  }

  .productListCost {
    font-size: 18px;
  }

  .productListFreeDelivery {
    margin-top: 0px;
    font-size: 12px;
  }

  .productListGetSoon {
    font-size: 12px;
  }
}
