body {
  background-color: whitesmoke;
}

.f_footer {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #73716f;
  color: white;
}

.s_footer {
  position: relative;
  background-color: #403e3d;
  color: white;
  text-align: center;
  padding: 50px;
}

.sign_con {
  background-color: white;
  border-radius: 5px;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("../public/admin_login.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.admin_email_input {
  height: 28px;
  width: 240px;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.email_input:focus {
  box-shadow: 0px 0px 7px 2px #febd69;
}

.admin_pass_input {
  height: 28px;
  width: 225px;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding: 0px 10px;
}

.pass_input:focus {
  box-shadow: 0px 0px 7px 2px #febd69;
}

.con_btn {
  background: #403e3d;
  border: none;
  color: #f0f0f0;
  font-size: 16px;
  width: 245px;
  height: 29px;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}

.btn2 {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  padding: 5px;
  width: 300px;
  height: 30px;
  border: thin solid #adb1b8;
  border-radius: 3px;
  cursor: pointer;
}

.regi_con {
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  display: flex;
}

.regi_input {
  height: 28px;
  width: 280px;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.regi_input:focus {
  box-shadow: 0px 0px 7px 2px #febd69;
}

.regipass_input {
  height: 28px;
  width: 266px;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding: 0px 10px;
}

.regipass_input:focus {
  box-shadow: 0px 0px 7px 2px #febd69;
}

.regicon_btn {
  background: linear-gradient(#f7dfa5, #f0c14b);
  border: 1px solid #9c7e31;
  width: 285px;
  height: 29px;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}

.drpdwn_btn {
  background: linear-gradient(#f7dfa5, #f0c14b);
  border: 1px solid #9c7e31;
  width: 100px;
  height: 29px;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px 0px;
}

.forpass {
  text-decoration: none;
  color: #0066c0;
}

.forpass:hover {
  color: #febd69;
  text-decoration: underline;
}

/* admin vertical header */
.vertical-header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
}

.outlet-container {
  padding-top: 60px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  margin-bottom: 15px;
  animation: slideInRight 1s ease-in;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive Styles */
@media screen and (max-width: 426px) {
  .vertical-header {
    width: 25%;
  }

  li {
    font-size: 12px;
  }

  .outlet-container {
    padding-left: 100px;
  }
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin: 0; 
} */

.address_input {
  width: 30vw;
  height: 31px;
  border-radius: 5px;
  border: 1px solid #888c8c;
}

.address_input2 {
  width: 14vw;
  height: 31px;
  border-radius: 5px;
  border: 1px solid #888c8c;
}

.address_drop1 {
  width: 14vw;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #888c8c;
  background-color: #efefef;
  cursor: pointer;
}

.address_drop2 {
  width: 30vw;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #888c8c;
  background-color: #efefef;
  cursor: pointer;
}

option {
  background-color: white;
}

.address_txt {
  margin-top: 10px;
  font-weight: 500;
}

.address_btn {
  border: none;
  border-radius: 7px;
  width: 95px;
  height: 35px;
  background-color: rgb(158, 64, 85);
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 50px;
  cursor: pointer;
}

/* sendlink */
.pass-reset {
  /* background-color: black; */
  height: 450px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.content {
  border: 1px solid #a6a6a6;
  padding: 30px;
  width: 20vw;
  height: 200px;
  /* background-color: rgb(236, 233, 233); */
  border-radius: 5px;
}

.text {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.email {
  width: 19.6vw;
  height: 30px;
  outline: none;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  margin-top: 30px;
}

.email:focus {
  box-shadow: 0px 0px 7px 2px #febd69;
}

.btn {
  background: linear-gradient(#f7dfa5, #f0c14b);
  border: 1px solid #9c7e31;
  width: 20vw;
  height: 30px;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
}

/*mobile page*/
.productImg {
  border: 1px solid #f0f0f0;
  width: 29%;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.productText {
  border: 1px solid #f0f0f0;
  width: 100%;
  padding-left: 30px;
  background-color: white;
}

.productTitle {
  font-size: 24px;
  font-weight: 400;
  margin: 15px 0px;
}
